<div class="container">
  <div class="text-center">
    <h1><%= @user.username.capitalize %> have a new pokemon: <%= @pokemon.name.capitalize %> in its Pokedex app</h1>
    <%= link_to "Check the new pokemon", "https://davmir-pokedex.herokuapp.com/users/#{@user.id}/pokemons/#{@pokemon.id}" %>
  </div>
</div>
