<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

    <% if @pokemon %>

      <div class="text-center">
        <h1 class="title"><%= @pokemon.name.capitalize %></h1>
        <h1 class="show-pokemon-hp"><%= "HP: #{@pokemon.hp}" %></h1>
      </div>
      <%= image_tag @pokemon.image.short.url, class: "img-rounded img-thumbnail center-block" %>

    <% else %>

      <h3 class="title text-center" style="margin-top: 2em">Pokemon not found</h3>

    <% end %>

  </div>
</div>
