<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <style type="text/css">
    body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: rgb(51, 51, 51);
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
    }
    .container {
      width: 750px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .text-center {
      text-align: center;
    }
    .text-capitalize {
      text-transform: capitalize;
    }
    .center-block {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  </style>

  <%= yield %>

</body>
</html>
